# Common configuration for all services
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
